<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            @foreach (var claim in User.Claims)
            {
                <li class="list-group-item">@claim.Type: @claim.Value</li>
            }
        </ul>
    </div>
</div>
