<div id="dashboard"></div>

<script type="text/jsx">
    var App = React.createClass({
        getInitialState: function() {
            return {
                dashboard: null
            }
        },
        
        componentDidMount: function() {
            const makeRequest = () => axios.get("/api/dashboard?count=15").then(({ data }) => this.setState({ dashboard: data }));
            
            this.serverRequest = makeRequest();
            
            this.poll = setInterval(() => {
                this.serverRequest = makeRequest();
            }, 3000) // Poll every 3 seconds
        },
        
        componentWillUnmount: function() {
            this.serverRequest.abort();
            clearInterval(this.poll)
        },
        
        render: function() {
            const {dashboard} = this.state;
            
            if (dashboard === null) {
                return null
            }
            
            return (
                <div>
                    <div className="row spacer">
                        <div className="col-md-3">
                            <h4>Job States</h4>
                            <reactChartjs2.Doughnut
                                data={{
                                    labels: ["Pending", "Running", "Dead"],
                                    datasets: [{
                                        data: [dashboard.pendingJobs, dashboard.runningJobs, dashboard.deadJobs],
                                        backgroundColor: ['#eab126', '#1fb58f', '#f24c4e'],
                                        hoverBackgroundColor: ['#eab126', '#1fb58f', '#f24c4e'],
                                        borderColor: ['#1e1e1e', '#1e1e1e', '#1e1e1e']
                                    }]
                                }}
                                options={{
                                    cutoutPercentage: 75,
                                    legend: {
                                        labels: {
                                            fontColor: "#dfdfdf"
                                        }
                                    }
                                }}
                                height={200}
                            />
                        </div>

                        <div className="col-md-3">
                            <h4>Allocation States</h4>
                            <reactChartjs2.Doughnut
                                data={{
                                    labels: ["Pending", "Running", "Dead"],
                                    datasets: [{
                                        data: [dashboard.pendingAllocations, dashboard.runningAllocations, dashboard.deadAllocations],
                                        backgroundColor: ['#eab126', '#1fb58f', '#f24c4e'],
                                        hoverBackgroundColor: ['#eab126', '#1fb58f', '#f24c4e'],
                                        borderColor: ['#1e1e1e', '#1e1e1e', '#1e1e1e']
                                    }]
                                }}
                                options={{
                                    cutoutPercentage: 75,
                                    legend: {
                                        labels: {
                                            fontColor: "#dfdfdf"
                                        }
                                    }
                                }}
                                height={200}
                            />
                        </div>

                        <div className="col-md-3">
                            <h4>Client States</h4>
                            <reactChartjs2.Doughnut
                                data={{
                                    labels: ["Draining", "Up", "Down"],
                                    datasets: [{
                                        data: [dashboard.drainingClients, dashboard.upClients, dashboard.downClients],
                                        backgroundColor: ['#eab126', '#1fb58f', '#f24c4e'],
                                        hoverBackgroundColor: ['#eab126', '#1fb58f', '#f24c4e'],
                                        borderColor: ['#1e1e1e', '#1e1e1e', '#1e1e1e']
                                    }]
                                }}
                                options={{
                                    cutoutPercentage: 75,
                                    legend: {
                                        labels: {
                                            fontColor: "#dfdfdf"
                                        }
                                    }
                                }}
                                height={200}
                            />
                        </div>

                        <div className="col-md-3">
                            <h4>Server States</h4>
                            <reactChartjs2.Doughnut
                                data={{
                                    labels: ["Up", "Down"],
                                    datasets: [{
                                        data: [dashboard.upMembers, dashboard.downMembers],
                                        backgroundColor: ['#1fb58f', '#f24c4e'],
                                        hoverBackgroundColor: ['#1fb58f', '#f24c4e'],
                                        borderColor: ['#1e1e1e', '#1e1e1e']
                                    }]
                                }}
                                options={{
                                    cutoutPercentage: 75,
                                    legend: {
                                        labels: {
                                            fontColor: "#dfdfdf"
                                        }
                                    }
                                }}
                                height={200}
                            />
                        </div>
                    </div>

                    <div className="row">
                        <div className="col-md-12">
                            <h4>Allocation Events</h4>
                            <table className="table table-hover">
                                <thead>
                                    <tr className="row">
                                        <th className="col">Name</th>
                                        <th className="col">Type</th>
                                        <th className="col">Message</th>
                                        <th className="col">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {dashboard.events.map((event) => {
                                        var d = new Date(event.dateTime);
                                        
                                        function addZero(i) {
                                            if (i < 10) {
                                                i = "0" + i;
                                            }
                                            
                                            return i;
                                        }

                                        var ampm = d.getHours() >= 12 ? "PM" : "AM";
                                        
                                        return (
                                            <tr className="row">
                                                <td className="col"><a href={"/allocation?id=" + event.allocationId}>{event.allocationName}</a></td>
                                                <td className="col">{event.type}</td>
                                                <td className="col">
                                                    {event.downloadError}
                                                    {event.driverError}
                                                    {event.driverMessage}
                                                    {event.killError}
                                                    {event.killReason}
                                                    {event.message}
                                                    {event.restartReason}
                                                    {event.setupError}
                                                    {event.taskSignalReason}
                                                    {event.validationError}
                                                    {event.vaultError}
                                                </td>
                                                <td className="col">{d.getDate()}/{addZero((d.getMonth() + 1))}/{d.getFullYear()} {addZero(d.getHours())}:{addZero(d.getMinutes())}:{addZero(d.getSeconds())} {ampm}</td>
                                            </tr>
                                        )
                                    })}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            )
        }
    });

    ReactDOM.render(<App />, document.getElementById("dashboard"));
</script>

<!-- React -->
<script src="~/js/react-15.5.4.min.js"></script>
<script src="~/js/react-dom-15.5.4.min.js"></script>
<script src="~/js/axios-0.16.1.min.js"></script>
<script src="~/js/babel.min.js"></script> <!-- 6.24.0 -->

<!-- Chart.js -->
<script src="~/js/chartjs-2.5.0.min.js"></script>
<script src="~/js/react-chartjs-2.1.0.min.js"></script>
