* {
    border-radius: 0 !important;
}

body {
    color: #fff;
    background-color: #1e1e1e;
}

a,
a:hover,
a:focus {
    color: #1fb58f;
    text-decoration: none;
}

button:focus {
    outline: 0;
}

.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-12 {
    padding: 15px;
}

.col-parent {
    padding: 0 15px !important;
}

.navbar-default {
    margin-bottom: 0;
    background-color: #1fb58f;
    border: none;
}

.navbar-brand {
    padding-right: 15px;
}

.navbar-collapse {
    border: none;
    box-shadow: none;
}

.navbar-toggle,
.navbar-toggle:hover {
    color: #fff !important;
    background-color: #1e1e1e !important;
    border-color: #1e1e1e !important;
}

.navbar-toggle:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #1e1e1e;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover {
    color: #fff !important;
    background-color: #1e1e1e !important;
}

.navbar-search {
    border: none;
    box-shadow: none;
}

.navbar-search input,
.navbar-search button {
    border: none;
}

.navbar-search input {
    color: #fff;
    background-color: #1e1e1e;
}

.navbar-search input::-webkit-input-placeholder { color: #fff; }
.navbar-search input:-webkit-input-placeholder { color: #fff; }
.navbar-search input:-moz-placeholder { color: #fff; }
.navbar-search input::-moz-placeholder { color: #fff; }
.navbar-search input::-ms-input-placeholder { color: #fff; }
.navbar-search input:-ms-input-placeholder { color: #fff; }

.navbar-search button,
.navbar-search button:hover {
    color: #fff;
    background-color: #1e1e1e;
    border: solid 1px #1e1e1e;
}

.navbar-search button:hover {
    background-color: #333;
    border-color: #333;
}

.panel {
    margin-bottom: 0;
    background-color: #1e1e1e;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
    border: none;
}

.panel .panel-heading {
    color: #fff;
    background-color: #1e1e1e;
    border: none;
}

.panel-body {
    padding: 15px
}

.table {
    margin-bottom: 0px;
}

.table-responsive,
.table > thead > tr > th,
.table > tbody > tr > td {
    border: none;
}

.table > tbody > tr:nth-child(2n+1) {
    background-color: #262626;
}

.table > tbody > tr:hover {
    background-color: #333;
}

.pagination {
    margin: 15px 0 0 0;
}

.pagination li a {
    cursor: pointer;
}

.pagination li a,
.pagination li.break span,
.pagination li.break span:hover {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #1fb58f !important;
    background-color: #262626 !important;
    border: none !important;
    outline: none !important;
}

.pagination li.active a {
    background-color: #333 !important;
    cursor: pointer !important;
}

.pagination li a:hover,
.pagination li.active a:hover {
    color: #1fb58f !important;
    background-color: #333 !important;
}

.list-group {
    margin: 0;
    padding: 0;
}

.list-group-child {
    margin: 0;
}

.list-group-item {
    margin: 0;
    padding: 0 0 15px 0;
    background-color: transparent;
    border: none;
}

.list-group-item:last-child {
    padding: 0;
}

.list-group-item-child {
    padding: 15px 0 0 15px !important;
}

.btn-link {
    margin: 0;
    padding: 0;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
    color: #1fb58f;
    text-decoration: none;
    outline: none;
}

.log {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    color: #fff;
    background-color: #1e1e1e;
    border: none;
    overflow: auto;
}

.border {
    border: solid 1px red;
}
