* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body {
    background-color: #1e1e1e;
}

h4 {
    padding-bottom: 5px;
    color: #dfdfdf;
    border-bottom: solid 1px #333;
}

a,
a:hover,
a:visited,
a:focus {
    color: #1fb58f;
    text-decoration: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
    color: #1e1e1e;
    background-color: #1fb58f;
    text-decoration: none;
    cursor: pointer;
}

.header-nav {
    margin-bottom: 20px;
    background-color: #1fb58f;
}

.header-nav > .nav-link {
    padding: 10px;
    color: #1e1e1e;
}

.header-nav > .nav-link:hover,
.header-nav > .active
 {
    color: #dfdfdf;
    background-color: #1e1e1e;
}

.search {
    border-bottom: solid 1px #333;
}

.search > input,
.search > input:focus {
    display: inline;
    padding: 5px;
    color: #1fb58f;
    background-color: #1e1e1e;
    border: none;
    outline: none;
    width: 50%;
}

.search > input::-webkit-input-placeholder { font-size: 2em; color: #1fb58f; }
.search > ::-moz-placeholder { font-size: 2em; }
.search > :-ms-input-placeholder { font-size: 2em; }
.search > input:-moz-placeholder { font-size: 2em; }

.search > h4 {
    display: inline;
    border: none;
}

.logs-nav {
    margin-bottom: 20px;
    background-color: #1e1e1e;
}

.logs-nav > .nav-link {
    margin-right: 10px;
    padding: 10px;
    color: #dfdfdf;
    border: solid 1px #1fb58f;
}

.logs-nav > .nav-link:hover,
.logs-nav > .active
 {
    color: #1e1e1e;
    background-color: #1fb58f;
    border: solid 1px #1fb58f;
}

.table > thead > tr > th,
.table > tbody > tr > td {
    color: #dfdfdf;
    border: none;
}

.table > tbody > tr:hover {
    background-color: #333;
}

.list-group-item {
    color: #dfdfdf;
    background-color: #1e1e1e;
    border: none;
}

.pagination > .page-item > .page-link {
    margin-right: 10px;
    padding: 10px;
    color: #dfdfdf;
    background-color: #1e1e1e;
    border: solid 1px #1fb58f;
}

.pagination > .page-item > .page-link:hover {
    color: #1e1e1e;
    background-color: #1fb58f;
}

.pagination > .disabled {
    cursor: not-allowed;
}

.hljs {
    background-color: #1e1e1e;
}

.hljs,
.hljs-subst {
    color: #dfdfdf;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #1fb58f;
}

.hljs-literal {
    color: #eab126;
}

#log > pre {
    white-space: pre-wrap;
    max-height: 700px;
}

#attributeModal > .modal-dialog > .modal-content {
    background-color: #1fb58f;
}

#attributeModal > .modal-dialog > .modal-content > .modal-body {
    margin: 0;
    padding: 1px;
}

#attributeModal > .modal-dialog > .modal-content > .modal-body > ul {
    margin: 0;
}

#attributeModal > .modal-dialog > .modal-content > .modal-body > ul > li {
    word-wrap: break-word;
}

.spacer {
    margin-bottom: 50px;
}

.error {
    font-size: 6em;
    color: #dfdfdf;
}

.border {
    border: solid 1px red;
}
